@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary:#ff4c3b;
  --black: #000;
  --text-color: #161823;
  --white: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* phan heading cua moi page */
.heading{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  
  .subject{
    width: 20px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--primary);
    margin-right: 20px;
  }
  .sub {
    color:var(--primary) ;
  }
}

